body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border:  1px solid rgb(48, 48, 48);
    width: 100%;
    border-collapse: collapse;
}
table tr td{
    border:  1px solid rgb(48, 48, 48);
    padding: 15px;

}

td {
    text-align: center;
}


table tr td,
table tr th {
       border:  1px solid rgb(48, 48, 48); 
}

table tr th {
       text-transform: uppercase;
}

table tr td.light-blue-bg{
    background-color: rgb(221, 229, 255);
    
}
table tr td.blue-bg{
    background-color: rgb(85, 103, 161);
}
table tr td.pink-bg{
    background-color: rgb(255, 112, 196);
}
table tr td.green-bg{
    background-color: rgb(237, 255, 132);
}
table tr td.grey-bg{
    background-color: rgb(128, 128, 128);
}

.bold-text {
    font-weight: bold;
}
